.mailboxes-page tr.unread {
  font-weight: bold;
}

.mailboxes-page .views-field-star-action {
  text-align: center;
}

.mailboxes-page .views-field-star-action a {
  content: url('../images/icons/icon-star.png');
  border: none;
}

.mailboxes-page .starred .views-field-star-action a {
  content: url('../images/icons/icon-star-active.png');
}

.mailboxes-page .views-field-attachment span {
  display: block;
  text-indent: -9999px;
}

.mailboxes-page .attachment .views-field-attachment span {
  background: url('../images/icons/icon-attachment.png') no-repeat center;
}

.mailboxes-page #edit-header #select-wrapper {
  float: left;
  margin-right: 10px;
}

#nbox-ui-thread-actions {
  overflow: hidden;
}

.mailboxes-page #edit-header #action-wrapper,
#nbox-thread #action-wrapper {
  float: left;
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

.mailboxes-page #edit-header #folder-wrapper,
#nbox-thread #folder-wrapper {
  float: right;
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

.mailboxes-page #edit-header #folder-wrapper .folder-select,
#nbox-thread #folder-wrapper .folder-select {
  display: inline-block;
  margin: 0;
}

.mailboxes-page #edit-actions {
  display: none;
}

.nbox_list_boxes .item-list ul li {
  padding-bottom: 0.8em;
}

.nbox_list_boxes li.active {
  font-weight: bold;
}

.nbox_list_boxes li a {
  color: #3b3b3b;
  font-size: 1.2em;
  border-bottom: none;
  padding-left: 10px;
}

.nbox_list_boxes li a:before {
  left: -10px;
  position: relative;
  top: 1px;
}

.nbox_list_boxes li.mailbox-inbox a:before {
  content: url('../images/icons/icon-inbox.png');
}

.nbox_list_boxes li.mailbox-sent a:before {
  content: url('../images/icons/icon-mail.png');
}

.nbox_list_boxes li.mailbox-draft a:before {
  content: url('../images/icons/icon-draft.png');
}

.nbox_list_boxes li.mailbox-starred a:before {
  content: url('../images/icons/icon-star.png');
}

.nbox_list_boxes li.mailbox-trash a:before {
  content: url('../images/icons/icon-trash.png');
}

.nbox_list_boxes li.folder a:before {
  content: url('../images/icons/icon-folder.png');
}

.nbox_list_boxes li .unread {
  margin-left: 10px;
  padding: 2px 7px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.51);
  color: #ffffff;
}

#block-folders .button {
  margin-left: 0;
  margin-top: 10px;
}
